div.feature {
    background: url(https://cdn.stocksnap.io/img-thumbs/960w/N0KS0SFLO2.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
    height: 600px;
    /* filter: blur(2px) */
}

div.card {
    padding: 20px 0px;
}

div.card button {
    margin: 0px 10px;
}